ul li {
    list-style: none; 
}

ul li::before {
    content: "→";
}

article {
    padding: 5px 0 5px 0;
}

table, td ,th {
    text-align: center;
    border : 1px solid white;
    margin : 0 auto;
}

td,th {
    padding : 5px;
}

table {
    border-collapse: collapse;
}