footer {
    background-color: #20caa0;
    border-radius: 10px; /* Rounded border */
    display: flex; /* Display the footer items as a flexbox */
    justify-content: space-around;
    gap: 40%; /* Add a gap between the footer items */
    margin-top:20px;
    border : 2px solid black;
}

.info h3 {
    color: black;
}

.icon {
    width: 30px;
    height: 30px;
    vertical-align: middle; /* Align the icon with the text */
    margin: 0 10px 0 25px; /* Add some space between the icon and the text, and add a tabulation */
}

.info{
    flex-grow: 1;
}

.info p {
    display: flex;
}


/* Screen smaller than 800px */
@media screen and (max-width: 800px) {
    footer {
        flex-direction: column; /* Arrange the footer items in a column */
        gap: 0; /* Remove the gap between the footer items */
    }

    .info {
        margin-left: 5%;
    }
}

