footer {
    background-color: rgb(211, 211, 211);
    border-radius: 10px; /* Rounded border */
    display: flex; /* Display the footer items as a flexbox */
}

.icon {
    width: 30px;
    height: 30px;
    vertical-align: middle; /* Align the icon with the text */
    margin: 0 10px 0 25px; /* Add some space between the icon and the text, and add a tabulation */
}

#logo{
    width: 10%;
    height: 10%;
}



.menu {
    background-color: aqua;
    list-style-type: none; /* Remove the bullet points */
    padding: 0px; /* To correct the box problem of the navbar */
}

.sous-menu {
    list-style-type: none; /* Remove the bullets from the sub-menu */
}

.menu > li, .sous-menu > li {
    border: 1px solid black; /* Add a border to the menu items */
    text-align: center; /* Center the text */
    padding: 10px; /* Add some space between the menu items */
}

.menu > li:hover, .sous-menu > li:hover {
    background-color: green; /* Change the background color of the menu items and the sub-menu when the mouse is over them */
}

#little-body {
	display:flex;
	justify-content: space-around;
}

#main-content {
	border: 2px solid;
	width: 60%;
}

#main-content > *{
	text-align:center;
}

#news {
	border: 2px solid;
	width:30%
}



/* Screen bigger than 600px */
@media screen and (min-width: 600px) {
    footer {
        flex-direction: row; /* Arrange the footer items in a row */
        justify-content: space-around; /* Space the footer items evenly */
        gap: 40%; /* Add a gap between the footer items */
    }

    .menu {
        display: flex; /* Display the menu items as a flexbox */
    }

    .sous-menu{
        display: none; /* Hide the sub-menu by default */
    }

    .menu > li, .sous-menu > li {
        width: 20%; /* Set the width of the menu items */
    }

    .menu > li:hover > .sous-menu {
        display: block; /* Display the sub-menu when the mouse is over the menu item */
    }
}

/* Screen smaller than 600px */
@media screen and (max-width: 600px) {
    footer {
        flex-direction: column; /* Arrange the footer items in a column */
        gap: 0; /* Remove the gap between the footer items */
    }

    .info {
        margin-left: 5%;
    }
	
	#little-body{
		flex-direction:column;
	}
	
	#main-content, #news{
		width:100%;
		margin-bottom: 20px;
	}
}
