@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;700&display=swap');

body{
    background-image: url("../images/guadeloupe.jpg"); 
    background-repeat: no-repeat; /* The background will be a single fixed image */
    background-attachment: fixed; /* The background will be a single fixed image */
    background-size: 100% 100%; /* The background will be a single fixed image */
}

h2, h3, p, ul li, a, figcaption{
    font-family: 'Inter Tight', sans-serif;
}

h2, h3, p, ul li, figcaption{
    color : white; /* Put the text in white */
}

p {
    padding: 0% 4%; /* Add space between the edge of the block and the text*/
}

ul {
    padding: 0% 8%; /* Add space between the edge of the block and the text*/
}


h2, h3, figcaption{ 
 text-align: center; /* Center texts */
}

.menu {
    background-color: aqua;
    list-style-type: none; /* Remove the bullet points */
    padding: 0px; /* To correct the box problem of the navbar */
}

.sous-menu {
    list-style-type: none; /* Remove the bullets from the sub-menu */
}

.menu > li, .sous-menu > li {
    border: 1px solid black; /* Add a border to the menu items */
    text-align: center; /* Center the text */
    padding: 10px; /* Add some space between the menu items */
}

.menu > li:hover, .sous-menu > li:hover {
    background-color: green; /* Change the background color of the menu items and the sub-menu when the mouse is over them */
}

#little-body {
	display:flex; /* Separate the main-content and the news */
	justify-content: space-around; 
}

#main-content {
	border: 2px solid white; /* Add a border */
	width: 60%; /* Define the width of the bloc */
	margin-bottom: 20px; /* Add some blank space below the block */
}



#news {
	border: 2px solid white; /* Add a border */
	width:30%; /* Define the width of the bloc */
	margin-bottom: 20px; /* Add some blank space below the block */
}

img, iframe, div {
    border-radius: 10px; /* Round corners of differents blocks */
}

img, iframe {
    display: block; /* Display as a block */
    margin: 0 auto; /* Center the block */
}

/* Screen bigger than 800px */
@media screen and (min-width: 800px) {
    .menu {
        display: flex; /* Display the menu items as a flexbox */
    }

    .sous-menu{
        display: none; /* Hide the sub-menu by default */
    }

    .menu > li, .sous-menu > li {
        width: 20%; /* Set the width of the menu items */
    }

    .menu > li:hover > .sous-menu {
        display: block; /* Display the sub-menu when the mouse is over the menu item */
    }
}

/* Screen smaller than 800px */
@media screen and (max-width: 800px) {
	#little-body{
		flex-direction:column; /* Display the children verticaly */
	}
	
	#main-content, #news{
		width:100%; /* Set the witdh at maximum */
	}

}

.article-bg{
    background-color: #172A3A;
}