@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;700&display=swap');

body{
    background-image: url("../images/guadeloupe.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h2, h3, p, ul li, a, figcaption{
    font-family: 'Inter Tight', sans-serif;
}

h2, h3, p, ul li, figcaption{
    color : white;
}

p {
    padding: 0% 4%;
}

ul {
    padding: 0% 8%;
}


h2, h3{
 text-align: center;
}

.menu {
    background-color: aqua;
    list-style-type: none; /* Remove the bullet points */
    padding: 0px; /* To correct the box problem of the navbar */
}

.sous-menu {
    list-style-type: none; /* Remove the bullets from the sub-menu */
}

.menu > li, .sous-menu > li {
    border: 1px solid black; /* Add a border to the menu items */
    text-align: center; /* Center the text */
    padding: 10px; /* Add some space between the menu items */
}

.menu > li:hover, .sous-menu > li:hover {
    background-color: green; /* Change the background color of the menu items and the sub-menu when the mouse is over them */
}

#little-body {
	display:flex;
	justify-content: space-around;
}

#main-content {
	border: 2px solid;
	width: 60%;
	margin-bottom: 20px;
}



#news {
	border: 2px solid;
	width:30%;
	margin-bottom: 20px;
}

img, iframe, div {
    border-radius: 10px;
}

img, iframe {
    display: block;
    margin: 0 auto;
}

figcaption{
    text-align: center;
}

/* Screen bigger than 800px */
@media screen and (min-width: 800px) {
    .menu {
        display: flex; /* Display the menu items as a flexbox */
    }

    .sous-menu{
        display: none; /* Hide the sub-menu by default */
    }

    .menu > li, .sous-menu > li {
        width: 20%; /* Set the width of the menu items */
    }

    .menu > li:hover > .sous-menu {
        display: block; /* Display the sub-menu when the mouse is over the menu item */
    }

    

    .logo{
        width: 225px;
        height: 150px;
        margin: 0 25px;
    }

    #title {
        display: inline-block;
        margin: auto;
    }
    
    #head{
        display: flex;
        justify-content: space-around;
    }
}

/* Screen smaller than 800px */
@media screen and (max-width: 800px) {
	#little-body{
		flex-direction:column;
	}
	
	#main-content, #news{
		width:100%;
	}

    #title{
        text-align: center;
    }

    /*Center the image*/
    #logo-1{
        display: block;
        margin: auto;
    }

    #logo-2{
        display: none;
    }
}

.article-bg{
    background-color: #172A3A;
}